 [class*="col"]{  
    padding:1rem;
    background-color:#33b5e5;
    border:2px solid #fff;
    color: #fff; } 

  h1{color:whitesmoke;
      background-color: #7553A6;}

  h2{color:whitesmoke;
      background-color: #7553A6;}

  h3{color:whitesmoke;
      background-color: #7553A6;}
